@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Karla');
/* font-family: 'Great Vibes', cursive;
font-family: 'Karla', sans-serif; */

.title {
  font-family: 'Great Vibes', cursive;
}

body {
  /* sets responsive background image */
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

.mainphoto {
  width: auto;
  max-width: 400px;
  height: auto;
  padding: 10px;
}

.mainmenu {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #efe08d;
  opacity: 0.75;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding: 10px;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
}
