/* Publicly available on Guthub Pages (Check)
-Used Git to manage development (Check, minor issue with GitHub pages, will consult; dev branch and merging was tested and seems to work)
-NPM	 (Check)
-Gulp (Check) - Issues I had earlier were resolved with testing!
-Gulp Sass (Check) - Issues I had earlier were resolved with testing!
-Sass (Check)
-Responsive Design (Check)
-Conforms to Requirements (to the best of attempts; not all pages essential)
-Design (Nice look, but could have been more advanced and interesting IMO! Just wanted to get the basics of new tools working (..Check!))
-Production Ready (to the best of attempts)
-Code Quality (I think Check; feedback very appreciated) */

/* There is an issue where I must make a single edit (even a spacebar) in the hosted verion of index.html to make GitHub Page style fully work */

$background-image-path: url('../../img/background.jpg');

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Karla');
/* font-family: 'Great Vibes', cursive;
font-family: 'Karla', sans-serif; */

.title {
  font-family: 'Great Vibes', cursive;
}

body {
  /* sets responsive background image */
  background: $background-image-path no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

.row {
  display: flex inline-block;
}

.mainphoto {
  width: auto;
  max-width: 400px;
  height: auto;
  padding: 10px;
}

.navbar {
  background-color: #efe08d;
}
.mainmenu {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #efe08d;
  opacity: 0.75;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding: 10px;
  }
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
}

#details-text {
  overflow-y: scroll;
  height: 450px;
}

#details-text p,
#details-text ul {
  background-color: #eee4ad;
  opacity: 0.8;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (max-width: 540px) {
  #details-text p,
  #details-text ul {
    background-color: #efe08d;
    border: 2px solid;
    padding: 1.5rem;
  }
}
